<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>
</head>
<body>
<form action="#" th:action="@{/courses/updatecoursen/{id}(id=${course.id})}" th:object="${course}" method="post">
    <th><span th:text="${course.name}">Name </span></th>
    <th><span th:text="${course.id}">Name </span></th>

    <p>Name: <input type="text" th:field="*{name}"/></p>
    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name has errors</p>

    <p>Description: <input type="text" th:field="*{description}"/></p>
    <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description has errors</p>

    <p>Price: <input type="number" th:field="*{price}"/></p>
    <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price has errors</p>

    <p>Hours: <input type="number" th:field="*{hours}"/></p>
    <p th:if="${#fields.hasErrors('hours')}" th:errors="*{hours}">Hours has errors</p>

    <p><input type="submit" value="Submit"/></p>
</form>

</body>
</html>