<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Cursos</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Descripton</th>
                <th>Price</th>
                <th>Hours</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="course : ${courses}">
                <th><span th:text="${course.name}">Name </span></th>
                <th><span th:text="${course.description}">Description </span></th>
                <th><span th:text="${course.price}">Price </span></th>
                <th><span th:text="${course.hours}"><Hours></Hours> </span></th>
                <th><a th:href="@{/courses/updatecourse/{id}(id=${course.id})}">Update</a></th>
                <th><a th:href="@{/courses/removecourse/{id}(id=${course.id})}">Delete</a></th>
            </tr>
        </tbody>
    </table>

    <form action="#" th:action="@{/courses/addcourse}" th:object="${course}" method="post">
        <p>Name: <input type="text" th:field="*{name}"/></p>
        <p>Description: <input type="text" th:field="*{description}"/></p>
        <p>Price: <input type="number" th:field="*{price}"/></p>
        <p>Hours: <input type="number" th:field="*{hours}"/></p>
        <p><input type=submit value="SUBMIT"/></p>
    </form>
</body>
</html>